<% @categories.each do |catlog| %>
  <% @total = 0 %>
  <% catlog.category_dealings.each { |u| @total += u.dealing.amount }%>

  <li class="catlog">
    <div class="content">
      <%= image_tag catlog.icon %>
      <h3><%= link_to catlog.name, category_dealings_path(catlog.id)%></h3>
    </div>
    <p>Total: $<%= @total.floor(2) %></p>
  </li>
    
<% end %>

