   <% @categories.each do |catlog| %>
    <li class="catlog">
      <%= image_tag catlog.icon %>
      <div class="catlog_info">
        <h3><%= link_to catlog.name, category_dealings_path(catlog.id)%></h3>
        <%= catlog.created_at %>
      </div>
    </li>
    <% @total = 0 %>
      <% catlog.category_dealings { |u| @total += u.dealing.amount }%>
      <p>Total: <%= @total %></p>
        <% end %>

