  <ul class="nav__menu">
    <% if user_signed_in? %>
      <li class="nav_item">
        <%= link_to current_user.name, edit_user_registration_path %>
      </li>
      
        <%= button_to destroy_user_session_path, method: :delete do %>
          <i class="fa-solid fa-right-to-bracket"></i>
        <% end %>
      
    <% end %>
  </ul>
