/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: 'Montserrat', sans-serif;
}

//  #5fb523 #434b54

.navbar {
  padding: 0 1rem;
  background-color: #3778c2;
  color: #fff;

  h3 {
    font-weight: 400;
    font-size: 1.2rem;
  }

  .nav_head {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: #fff;
    border-bottom: 2px solid #fff;
  }

  svg {
    color: #fff;
  }
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #fff;

  .nav_item a {
    color: #fff;
  }

  button {
    border: none;
    background: none;
    color: #fff;

    svg {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

input[type="radio"] {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  background-color: transparent;
}

.link_btn {
  text-align: center;
  position: fixed;
  background-color: #5fb523;
  padding: 1rem;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 1.3rem;
  border: none;
  font-weight: 300;
  cursor: pointer;
}

.notice {
  background-color: #d4edd9;
  color: #155724;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
}

.alert {
  background-color: #f8d7d9;
  color: #721c23;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
}
