// Categories
.category_container {
  margin: 0 2rem;

  h2 {
    margin: 1.2rem 0;
  }
}

.catlog {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  margin-top: 1rem;

  .content {
    display: flex;
    align-items: center;

    a {
      font-size: 1rem;
      color: #000;
      font-weight: 400;

      &:hover {
        color: #3778c2;
      }
    }
  }

  img {
    border-radius: 8px;
    padding: 0.5rem 0.5rem;
    background-color: #434b54;
    width: 27%;
    margin-right: 1rem;
  }

  p {
    font-size: 0.9rem;
  }
}

// deatils
.deal_container {
  margin: 1rem;
}

.created_at {
  width: fit-content;
  padding: 0.5rem 1.2rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 3px 0 #3778c2;

  .hour {
    font-size: 12px;
  }

  .day {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.dealings {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0.4rem;

  .content {
    display: flex;
  }
}

.total {
  text-align: center;
  border: 1px solid #000;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .time {
    font-size: 12px;
    margin-top: 0.8rem;
  }
}

.content_class {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    font-size: 1.5rem;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.5s ease;
    color: red;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

.back {
  margin-top: 3rem;

  .back_home {
    color: #000;
    box-shadow: 0 0 3px 0 #3778c2;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-top: 3rem;
  }
}

.empty {
  text-align: center;
  color: #434b54;
  margin: auto;
  margin-top: 50%;
}
