<li class="nav_head">
  <i class="fa-sharp fa-solid fa-bars"></i>
    <h3>Categories</h3>
  <i class="fa-solid fa-magnifying-glass"></i><hr>
</li>
<%= render "shared/navbar" %>
<h1>Categories index page</h1>
<ul class="category_container">
  <%= render "shared/catlog_card" %>

<%= link_to "Add New Category", new_category_path %>
</ul>